<template>
    <form :class="{ scrolled: scrolled, show: showAdaptiveForm }"
        @submit.prevent="addNewItem(title, desc, imgUrl, price)">
        <label>
            <span>Наименование товара</span>
            <input :class="{ invalid: hint }" type="text" placeholder="Введите наименование товара" v-model="title">
            <p v-show="hint">Поле является обязательным</p>
        </label>
        <label>
            Описание товара
            <textarea cols="30" rows="6" placeholder="Введите описание товара" v-model="desc" />
        </label>
        <label>
            <span>Ссылка на изображение товара</span>
            <input :class="{ invalid: hint }" type="url" placeholder="Введите ссылку" v-model="imgUrl">
            <p v-show="hint">Поле является обязательным</p>
        </label>
        <label>
            <span>Цена товара</span>
            <input :class="{ invalid: hint }" type="text" placeholder="Введите цену" v-model="price"
                @input="convertPrice">
            <p v-show="hint">Поле является обязательным</p>
        </label>
        <button :class="{ animation: success }" :disabled="!isFormValid" type="submit">
            Добавить товар
        </button>
    </form>
</template>

<script>
export default {
    props: {
        showAdaptiveForm: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            hint: false,
            scrolled: false,
            title: '',
            desc: '',
            imgUrl: '',
            price: '',
            success: false
        }
    },
    computed: {
        isFormValid() {
            return Boolean(this.title && this.imgUrl && this.price)
        },

    },
    methods: {
        convertPrice() {
            this.price = this.price.replaceAll(" ", "");
            //Пробелы удаляю, т.к. если к раннее конвертированному числу дописать еще,  
            //то разрядность ломается
            this.price = this.price.replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        },
        addNewItem(title, desc, imgUrl, price) {
            this.success = true;
            this.$emit('addNewItem', {
                title,
                desc,
                imgUrl,
                price
            });
            setTimeout(this.reset, 800)
        },
        reset() {
            this.title = '';
            this.desc = '',
                this.imgUrl = '';
            this.price = '';
            this.success = false;
        }
    },
    mounted() {
        window.addEventListener('scroll', () => {
            if (pageYOffset >= 70) {
                this.scrolled = true;
            } else {
                this.scrolled = false;
            }
        })
    }
}
</script>

<style lang="scss" scoped>
.title {
    font: 600 28px/35px 'Source Sans Pro';
    color: #3F3F3F;
    margin: 32px 0 16px;
}

form {
    padding: 24px;
    padding-top: 20px;
    width: 332px;
    box-sizing: border-box;
    position: fixed;
    top: 83px;
    transition: top 0.4s;
}

label {
    position: relative;
    display: flex;
    flex-direction: column;
    font: 400 14px/17px 'Source Sans Pro';
    letter-spacing: -0.02em;

    color: #49485E;

    &>span {
        width: fit-content;
        padding-right: 7px;
        background-image: url('../assets/images/required.svg');
        background-repeat: no-repeat;
        background-position: top right;
    }

}

input,
textarea {
    padding: 10px 16px;
    font: 400 14px/17px 'Source Sans Pro';
    color: #3F3F3F;
    background-color: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #fff;
    resize: none;
    margin: 4px 0 16px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    font: 600 12px/15px 'Source Sans Pro';
    background: #7BAE73;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;

    &[disabled] {
        background: #eee;
        color: #B4B4B4;
        cursor: not-allowed
    }
}

.animation {
    animation-duration: 0.8s;
    animation-name: added;
}

@keyframes added {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.5);
    }
}

p {
    position: absolute;
    bottom: 0;
    margin: 0;
    font: 400 12px/14px 'Source Sans Pro';
    letter-spacing: -0.02em;
    color: #FF8484;
}

.invalid {
    border: 1px solid #FF8484;
}

.scrolled {
    top: 24px
}

@media screen and (max-width: 768px) {
    form {
        display: none;
        z-index: 7;
        background-color: #fff;
        border-radius: 10px;
    }

    .show {
        display: block;
    }
}

@media screen and (max-width:500px) {
    form {
        width: 97%;
        left: 5px;
    }
}
</style>