<template>
    <div>
        <transition-group class="cards" name="bounce" tag="div">
            <figure v-for="el in this[`${typeOfSort}`]" :key="el.id" class="card">
                <button class="card__delete" @click="removeItem(el)" />
                <img :src="el.imgUrl" alt="product photo">
                <figcaption>
                    <p class="card__title">{{ el.title }}</p>
                    <p class="card__desc">{{ el.desc.length < 140 ? el.desc : el.desc.slice(0, 120) + '...' }}</p>
                            <p class="card__price">{{ el.price }} p.</p>
                </figcaption>
            </figure>
        </transition-group>

    </div>
</template>

<script>

export default {
    props: {
        items: {
            type: Array,
            default() {
                return []
            }
        },
        typeOfSort: {
            type: String,
            default: 'items'
        }
    },
    data() {
        return {
            isDeleting: false
        }
    },
    methods: {
        removeItem(el) {
            this.$emit('removeItem', el)
        },
        sortToMaxPrice(a, b) {
            return a.price - b.price
        }
    },
    computed: {
        sortPriceToMax() {
            return this.items.sort((a, b) => a.price.replaceAll(' ', '') - b.price.replaceAll(' ', ''))
        },
        sortPriceToMin() {
            return this.items.sort((a, b) => {
                if (a.price.replaceAll(' ', '') - b.price.replaceAll(' ', '') > 0) {
                    return -1;
                } else {
                    return 1;
                }
            })
        },
        sortByName() {
            return this.items.sort((a, b) => {
                if (a.title < b.title) {
                    return -1;
                } else {
                    return 1;
                }
            })
        }
    }
}
</script>

<style lang="scss" scoped>
div.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 332px;
}

h2 {
    font: 600 28px/35px 'Source Sans Pro';
    color: #3F3F3F;
    margin: 32px 0 16px;
    text-align: center;
}

.card {
    display: block;
    position: relative;
    max-width: 332px;
    box-sizing: border-box;
    margin: 0 8px 16px 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s;

    &:hover {
        box-shadow: 0px 13px 16px 2px rgba(0, 0, 0, 0.4)
    }

    &:hover>button.card__delete {
        display: block;
    }

    &__delete {
        position: absolute;
        display: none;
        top: -8px;
        right: -8px;
        width: 32px;
        height: 32px;
        border: none;
        background-color: #FF8484;
        background-image: url('../assets/images/delete.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        transition: transform 0.2s;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__title {
        font: 600 20px/25px 'Source Sans Pro';
        color: #3F3F3F;
    }

    &__desc {
        font: 400 16px/20px 'Source Sans Pro';
        color: #3F3F3F;
    }

    &__price {
        font: 600 24px/30px 'Source Sans Pro';
        color: #3F3F3F;
    }
}

img {
    width: 332px;
    height: 220px;
}

.bounce-enter-active {
    animation: bounce-in .8s;
}

.bounce-leave-active {
    animation: bounce-in .8s reverse;
}

.bounce-move {
    transition: transform .8s;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

figcaption {
    padding: 0 16px 24px;
}

@media screen and (max-width: 768px) {
    div.cards {
        margin-left: 0;
    }

}

@media screen and (max-width: 500px) {

    .card{
        max-width: 280px;
    }
    img{
        width: 280px;
        height: 185px;
    }
    
}
</style>