<template>
  <div class="wrapper">
    <header>
      <p class="title" @click="showAdaptiveForm = !showAdaptiveForm">Добавление товара</p>
      <select v-model="typeOfSort">
        <option selected value="items">По умолчанию</option>
        <option value="sortByName">По наименованию</option>
        <option value="sortPriceToMax">По возрастанию цены</option>
        <option value="sortPriceToMin">По убыванию цены</option>
      </select>
    </header>
    <img src="../assets/images/Settings.gif" alt="preloader" v-show="loading" />
    <add-new-good :showAdaptiveForm="showAdaptiveForm" @addNewItem="addNewItem"></add-new-good>
    <main>
      <transition name="fade">
        <h1 v-if="showEmpty">Товары в вашем списке закончились. Добавьте что-нибудь или после
          перезагрузки здесь снова появятся стандартные товары</h1>
      </transition>

      <goods-list :items="goods" :typeOfSort="typeOfSort" @removeItem="removeItem"></goods-list>
    </main>
  </div>
</template>

<script>
import addNewGood from "../components/add-new-good.vue"
import goodsList from "../components/goods-list.vue"

export default {
  name: 'IndexPage',
  components: {
    addNewGood,
    goodsList
  },
  data() {
    return {
      typeOfSort: 'items',
      goods: [],
      goodsDefault: [{
        id: 1,
        title: 'Наименование товара',
        desc: `Довольно-таки интересное описание товара в несколько строк. Довольно-таки
                    интересное описание товара в несколько строк`,
        imgUrl: '/default-pic.jpg',
        price: '7 000'
      },
      {
        id: 2,
        title: 'Наименование товара',
        desc: `Довольно-таки интересное описание товара в несколько строк. Довольно-таки
                    интересное описание товара в несколько строк`,
        imgUrl: '/default-pic.jpg',
        price: '1 000'
      },
      {
        id: 3,
        title: 'Наименование товара',
        desc: `Довольно-таки интересное описание товара в несколько строк. Довольно-таки
                    интересное описание товара в несколько строк`,
        imgUrl: '/default-pic.jpg',
        price: '5 000'
      },
      {
        id: 4,
        title: 'Наименование товара',
        desc: `Довольно-таки интересное описание товара в несколько строк. Довольно-таки
                    интересное описание товара в несколько строк`,
        imgUrl: '/default-pic.jpg',
        price: '4 000'
      },
      {
        id: 5,
        title: 'Наименование товара',
        desc: `Довольно-таки интересное описание товара в несколько строк. Довольно-таки
                    интересное описание товара в несколько строк`,
        imgUrl: '/default-pic.jpg',
        price: '2 000'
      },
      {
        id: 6,
        title: 'Наименование товара',
        desc: `Довольно-таки интересное описание товара в несколько строк. Довольно-таки
                    интересное описание товара в несколько строк`,
        imgUrl: '/default-pic.jpg',
        price: '3 000'
      },
      {
        id: 7,
        title: 'Наименование товара',
        desc: `Довольно-таки интересное описание товара в несколько строк. Довольно-таки
                    интересное описание товара в несколько строк`,
        imgUrl: '/default-pic.jpg',
        price: '9 000'
      },
      {
        id: 8,
        title: 'Наименование товара',
        desc: `Довольно-таки интересное описание товара в несколько строк. Довольно-таки
                    интересное описание товара в несколько строк`,
        imgUrl: '/default-pic.jpg',
        price: '8 000'
      },
      {
        id: 9,
        title: 'Наименование товара',
        desc: `Довольно-таки интересное описание товара в несколько строк. Довольно-таки
                    интересное описание товара в несколько строк`,
        imgUrl: '/default-pic.jpg',
        price: '10 000'
      },],
      showAdaptiveForm: false,
      loading: true,
      showEmpty: false
    }
  },
  computed: {
    newId() {
      const length = this.goods.length
      return (this.goods.length ? this.goods[length - 1].id + 1 : 1);
    }
  },
  methods: {
    addNewItem(item) {
      item.id = this.newId;
      this.goods.push(item)
      this.setToLocalStorage();
      this.showEmpty = false;
    },
    removeItem(item) {
      const position = this.goods.indexOf(item);
      this.goods.splice(position, 1);
      this.setToLocalStorage();
      if (!this.goods.length) {
        this.showEmpty = true;
        localStorage.removeItem('goods');
      }
    },
    setToLocalStorage() {
      localStorage.setItem('goods', JSON.stringify(this.goods))
    }
  },
  mounted() {
    //Таймаут, чтобы хоть немного полюбоваться прелоадером :)
    console.log('Для выбора стандартной картинки вставьте в поле ссылки http://localhost:3000/default-pic.jpg',
    'Вместо localhost:3000 - адрес и порт, на котором у вас запущено приложение')
    setTimeout(() => {
      const data = localStorage.getItem('goods');
      if (data) {
        this.goods = JSON.parse(data)
      } else {
        this.goods = this.goodsDefault;
        this.setToLocalStorage()
      }
      this.loading = false;
    }, 1500)
  },
}
</script>

<style lang="scss" scoped>
h1 {
  font: 600 28px/35px 'Source Sans Pro';
  color: #3F3F3F;
  text-align: center;
  margin-left: 332px;
}

img {
  margin-left: 50vw;
}

.wrapper {
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  font: 600 28px/35px 'Source Sans Pro';
  color: #3F3F3F;
  margin: 32px 0 16px;
}

select {
  appearance: none;
  padding: 10px 28px 10px 16px;
  background-color: #FFFEFB, ;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  background-image: url('../assets/images/sort-arrow.svg');
  background-repeat: no-repeat;
  background-position: center right 5px;

  font: 400 12px/15px 'Source Sans Pro';
  color: #B4B4B4;
  cursor: pointer;
  outline: none;

  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  }
}

.fade-enter-active {
  transition: opacity 2s;
}


.fade-enter {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  header {
    margin-bottom: 25px;
  }

  img {
    margin-left: 42%;
  }

  h1 {
    font: 600 24px/30px 'Source Sans Pro';
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
</style>
